html, body, h1, h2, h3, h4, ul, ol, li, p, a {
        padding: 0;
        border: 0;
        margin: 0;
}

body {
 padding: 0 0 0 0;
}

h1 {
  margin: 10px 0 20px 0;
  text-align: center;
}

h2{
  margin: 20px 0 20px 0;
}

h3{
  margin: 10px 0 10px 0;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 3px;
}

.nav {
  padding-right: 50px;
}

.nav li{
  display: inline;
  margin-left: 10px;
  padding-: 10px;  
}

ul, ol {
  padding: 0 0 0 50px;
}

.header {
  padding: 10px 10px 10px 10px;
  text-align: center;
 
}

.main-content {
  width: 700px;
  padding: 0px 20px 20px 20px;
  border: 1px solid #dddddd;
  margin: 20px auto 0 auto;
}

.footer {
  width: 700px;
  margin: 20px auto 20px auto;
}

.main-content img {
  width: 351px;
  height: 196px;

}